<h1>Create a new Recipe!</h1>

<form action="/recipes" method="post">
  Name:<input type="text" name="name" value="Put your recipe name here"><br>
  Ingredients:<input type="text" name="ingredients" value="Put your recipe ingredients here"><br>
  Cook Time:<input type="text" name="cook_time" value="Put your recipe's cook time here"><br>
  <input type="submit" value="Submit">
</form>
